{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}

<form action="/review" method="POST">
<div class="content">

  <h1 style="text-align: center">Search</h1>
  
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label">  Channel Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="content" name="content">

    <div class="col-auto">
      <input type="submit" class="btn btn-primary mb-3" value="Search">
    </div>
  </div>
</div>
</div>
</form>
{% endblock %}